<IfModule mod_mime.c>
  AddType application/javascript .js AddType application/json .json
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On RewriteBase / # Exclure le répertoire backend des réécritures
  RewriteCond %{REQUEST_URI} ^/backend/ [NC] RewriteRule ^ - [L] RewriteRule
  ^index\.html$ - [L] RewriteCond %{REQUEST_FILENAME} !-f RewriteCond
  %{REQUEST_FILENAME} !-d RewriteRule . /index.html [L]
</IfModule>
