// global.scss

@use "variables" as *;
@use "mixins" as *;
html,
body {
  margin: 0;
  padding: 0;
}
body {
  background-color: $color-background-primary;
  @include body-text;
  margin: 0;
  padding: 0;
}

a {
  color: $color-link;
  text-decoration: none;
  @include transition;

  &:hover {
    color: darken($color-link, 10%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading(2em); // Ajustez la taille selon le niveau du titre
}

button {
  @include focus-effect;
}

.primary-button {
  @include button($color-button-primary, $color-button-primary-text);
}

.secondary-button {
  @include button($color-button-secondary, $color-button-secondary-text);
}

.alert-button {
  @include button($color-button-alert, $color-button-alert-text);
}

.card {
  background-color: $color-floating-elements;
  border-radius: $border-radius;
  padding: 1em;
  @include box-shadow;
}

input,
textarea {
  border: 1px solid $color-border;
  border-radius: $border-radius;
  padding: 0.5em;
  @include transition;

  &:focus {
    border-color: $color-focus;
    @include focus-effect;
  }
}
.pr-10 {
  padding-right: 10px;
}
